<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="CT Tests for xyz">
<listeners>
<listener class-name="myseleniumpakg.ListnersTest"></listener>
</listeners>
	<test name="My first TestNg tests" parallel="true" thread-count="10">
	<parameter name="browser" value="chrome"></parameter>
		<classes>
			<class name="myseleniumpakg.AssertionDemo"></class>
		</classes>
	</test> <!-- Test -->
</suite> <!-- Suite -->
